#search_header{
  font-family: 'Hanna', sans-serif;
  text-align: center;
  padding-bottom: 7%;
}

#search_container{
  padding-bottom: 5%;
}

#loading-icon{
  display:none;
}

.ko{
  color: black;
  font-size: 1.3em;
}

.eng{
  color: #727272;
  font-size: 1.1em;
}

.ko:hover{
  background-color: yellow;
}

.eng:hover{
  background-color: yellow;
}

.error{
  border: 1px solid red;
}
