#search_header{
  font-family: 'Hanna', sans-serif;
  text-align: center;
  padding-bottom: 10%;
}

#search_container{
  padding-bottom: 5%;
}

.ko{
  color: black;
  font-size: 1.3em;
}

.eng{
  color: #727272;
  font-size: 1.1em;
}

.ko:hover{
  background-color: yellow;
}


.eng:hover{
  background-color: yellow;
}
